@model DataModelLibrary.Models.User
@{
    ViewData["Title"] = "Login";
}

<div class="container ">
    <div class="row ">
        <div class="col-sm-7 login-col">
            <img class="border-corner login-img" src="~/img/login_side2.jpg" alt="Login side" />
        </div>
        <div class="col-sm-5 login-col">
            <div class="border-style border-corner login-form">
                <h1 class="display-6 subheading border-corner center-heading mb-3">Admin Login</h1>
                @if (ViewData.ModelState["LoginFailed"]?.Errors.Count > 0)
                {
                    <div class="text-danger mb-1">
                        @Html.ValidationMessage("LoginFailed")
                    </div>
                }
                <form asp-action="Login">
                    <div class="form-group mb-3">
                        <label asp-for="UserName" class="control-label mb-1">Username</label>
                        <input asp-for="UserName" name="username" class="form-control mb-1" data-val="true" data-val-required="The Username is required." />
                        @Html.ValidationMessage("UserName", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Password" class="control-label mb-1">Password</label>
                        <input asp-for="Password" name="Password" type="password" class="form-control mb-1"
                               data-val="true" data-val-required="The Password is required." />
                        @Html.ValidationMessage("Password", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-3 centered-button">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>

                </form>


            </div>

        </div>



    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

