@model Assignment2.Models.Customer

<div class="center-form mb-3">

    <form asp-action="UpdatePassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-3">
            <label for="OldPassword" class="control-label mb-1">Old Password</label>
            <input id="OldPassword" name="OldPassword" class="form-control mb-1"
                   type="password" data-val="true"
                   data-val-required="The old password field is required." />
            @Html.ValidationMessage("OldPassword", new { @class = "text-danger" })
        </div>

        <div class="form-group mb-3">
            <label for="NewPassword" class="control-label mb-1">New Password</label>
            <input id="NewPassword" name="NewPassword" class="form-control mb-1"
                   type="password" data-val="true"
                   data-val-required="The new password field is required." />
            @Html.ValidationMessage("NewPassword", new { @class = "text-danger" })
        </div>

        @*<div class="form-group mb-3">
            <label for="PasswordConfirm" class="control-label mb-1">Password Confirm</label>
            <input id="PasswordConfirm" name="PasswordConfirm" class="form-control mb-1"
                   type="password" data-val="true"
                   data-val-required="The new password confirm is required." />
            @Html.ValidationMessage("PasswordConfirm", new { @class = "text-danger" })
        </div>*@


        <div class="form-group mb-3">
            <button type="submit" class="form-btn">Update Password</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @{ /* await Html.RenderPartialAsync("_ValidationScriptsPartial"); */ }
}