html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.image-container {
    position: relative;
    text-align: center;
}

.rounded-image {
    border-radius: 20px;
    width: 100%; /* Adjust as necessary */
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 10%; /* Adjust as necessary for vertical alignment */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Or any color that contrasts well with your image */
    font-weight: bold;
    white-space: nowrap;
}
