

@{
    ViewData["Title"] = "Home";

    //var isLoggedIn = Context.Session.GetInt32(nameof(Customer.CustomerID)).HasValue;

}

<div class="full-background">
    <!-- MCBA Logo -->
    <div class="overlay-logo">
        <img src="~/img/MCBA-text.png" alt="MCBA Logo" />
    </div>

    <!-- Tagline Text -->
    <div class="overlay-text">
        <h4 class="text-line-one display-4">Admin Portal</h4>
        <h6 class="text-line-two display-4">Your 24/7 Workspace 💸 </h6>
    </div>

    <!-- Login Button -->


</div>

@*@if (!isLoggedIn)

{*@
    <div class="overlay-button">

        <a href="/Mcba/SecureLogin" class="btn btn-primary button-spacing">Login →</a>

    </div>
@*}*@
