@using McbaExample.Models
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mcba</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">MCBA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        @{
                            var isLoggedIn = Context.Session.GetInt32(nameof(Customer.CustomerID)).HasValue;
                        }
                        @if (isLoggedIn)
                        {
                            <li class="nav-item">
                                <span class="nav-link text-dark">
                                    Welcome, @Context.Session.GetString(nameof(Customer.Name))
                                </span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Login" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Login" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav flex-grow-1 horizontal-nav">
                        @if (isLoggedIn)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Customer" asp-action="Index">My Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Customer" asp-action="Deposit">Deposit</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Customer" asp-action="Withdraw">Withdraw</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Customer" asp-action="Transfer">Transfer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Customer" asp-action="Statement">My Statement</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Customer" asp-action="Profile">My Profile</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Assignment2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
