@{
    ViewData["Title"] = "Home";

    var isLoggedIn = Context.Session.GetInt32(nameof(Customer.CustomerID)).HasValue;

}

<div class="full-background">
    <!-- MCBA Logo -->
    <div class="overlay-logo">
        <img src="~/img/MCBA-text.png" alt="MCBA Logo" />
    </div>

    <!-- Tagline Text -->
    <div class="overlay-text">
        <h4 class="text-line-one display-4">Quick, easy, digital</h4>
        <h6 class="text-line-two display-4">A new era in internet banking 💸 </h6>
    </div>

    <!-- Login Button -->


</div>
@if (!isLoggedIn)
{
    <div class="overlay-button">
        @using (Html.BeginForm("Login", "Login", FormMethod.Get))
        {
            <button type="submit" class="btn btn-primary button-spacing">Login →</button>
        }
    </div>
}

