@{
    ViewData["Title"] = "Home";
}

<div class="image-container text-center">
    <img src="~/img/flying_note.jpg" alt="bank" class="rounded-image" style="max-width: 100%; height: auto;" />
    <h1 class="overlay-text display-4">Most Common Bank of Australia</h1>
</div>

<hr />

<h3>Log in</h3>

<!-- Using Tag Helpers -->
<form asp-controller="Login" asp-action="Login" method="get">
    <button type="submit" class="btn btn-primary">Login link using Tag Helper</button>
</form>

<!-- Using Html Helpers -->
@using (Html.BeginForm("Login", "Login", FormMethod.Get))
{
    <button type="submit" class="btn btn-primary">Login link using Html Helper</button>
}
